name: Testing

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  test:
    name: Running basic tests
    runs-on: ubuntu-22.04
    strategy:
      matrix:
        node-version: ['18.x']

    services:
      manticoresearch-manticore:
        image: manticoresearch/manticore:dev
        env:
          EXTRA: 1
        ports:
          - 9408:9308

    steps:
    - uses: actions/checkout@v4
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v3
      with:
        node-version: ${{ matrix.node-version }}
    - run: |
        if timeout 300 grep -qm1 'accepting connections' <(docker logs "${{ job.services.manticoresearch-manticore.id }}"); then echo 'accepting connections'; else echo 'Timeout failed'; fi
        npm install
        npm test
        